<nav>
  <ul>
    <li>
      <a routerLink="/sign-up" routerLinkActive="active"
        >Signup(reactive form)</a
      >
    </li>
    <li>
      <a routerLink="/rxjs-subject" routerLinkActive="active"
        >RxJS Subject Demo</a
      >
    </li>
    <li>
      <a routerLink="/dynamic-component" routerLinkActive="active"
        >Dynamic Component Demo</a
      >
    </li>
    <li>
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >home</a
      >
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
